################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyTasks/.vs/MyTasks
/MyTasks/bin/Debug/net8.0
/MyTasks/obj
/MyTasks/.vs/ProjectEvaluation
/MyTasks.Models/obj
/MyTasks.Db.Operations/obj
/MyTasks.DbOperations/bin/Debug/net8.0
/MyTasks.Db.Operations/bin/Debug/net8.0
/MyTasks.DbOperations/obj
/MyTasks.Models/bin/Debug/net8.0
/MyTasks.Repositories/obj
/MyTasks.Repositories/bin/Debug/net8.0
/MyTasks.Tests/bin/Debug/net8.0
/MyTasks.Tests/obj
