@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Dashboard";
}

<div class="text-center">
	<h1 class="display-4">Dashboard</h1>
	<div id="react-dashboard" data-dashboard='@Html.Raw(ViewData["DashboardData"])'></div>
</div>

<script type="module" src="~/react/main.js"></script>