@page
@model MyTasks.Pages.LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery;
@* generates token for futher use *@
@{
    var tokens = Antiforgery.GetAndStoreTokens(HttpContext);
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    @* convention to store token in custom atribute data-csrf-token *@
    <div id="react-login" data-csrf-token="@tokens.RequestToken"></div>
</div>

<script type="module" src="~/react/main.js"></script>